.txt-f{
   position: absolute;
   top: 652px;
   align-items: center;
   margin: 110px 250px;
   width: 600px;
   h2{
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;}}
   .pf{
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: flex-end;
      text-align: center;
      padding: 17px;
      margin: 0px 60px;}