.shop{
   display: flex;
   align-content: center;
   width: 1100px;
   height: 652px;
   background-color: #F8FAF9;
   .leftsh{
      margin: 0 0 0 60.5px;}
   .rightsh{
      margin: 0 55px 0 20px;}
      @import "_boardsh.scss";
      @import "_txtsh.scss";}