
h3{
   font-weight: 700;
   font-size: 36px;
   line-height: 43px;
   margin: 52px 0 24px 0;
   text-transform: uppercase;}
.pbb{
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;}
.article{
   display: flex;
   width: 360px;
   margin: 24px 0;
   justify-content: space-between;
   .ash{
      width: 150px;
      height: 44px;
      .pabb{
         font-weight: 400;
         font-size: 18px;
         line-height: 22px;}
      .pab{
         width: 150px;
         font-weight: 700;}}}