.bullet{
   display: flex;
   width: 550px;
   margin: 60px 80px;
   justify-content: space-between;
   .img-bu{width: 34.69px; height: 34.69px;}
   .board,.materials,.delivery{
      width: 142px;
      height: 61px;
      color: #fff;
      display: flex;
      gap:5px}}