.cardfb{
   width: 940px;
   height: 348px;
   background-color: #F8FAF9;
   display: flex;
   justify-content: center;
   align-items: center;
   .ffb{
      width: 253px;
      height: 264px;}
   .txt_cardfb{
         width: 464px;
         margin: 55px 40px;
         .pfb{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            margin: 0 0 14px 0;
         }
         h6{
            font-weight: 700;
            font-size: 27px;
            line-height: 32px;
            margin: 14px 0px;}}}